<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body id="{$body}">

<div id="base">

    <nav>
        <a href="?cmd=dashboard" id="dashboard-link">Dashboard </a> |
        <a href="?cmd=employee-list" id ="employee-list-link">Employees </a> |
        <a href="?cmd=employee-form" id="employee-form-link">Add Employee </a> |
        <a href="?cmd=task-list" id="task-list-link">Tasks </a> |
        <a href="?cmd=task-form" id="task-form-link">Add Task </a>
    </nav>

    <main>

    {include $template}

    </main>

    <footer>
        icd0007 Sample Application
    </footer>

</div>

</body>
</html>